audio/
*.mp3
*.wav
*.m4a

src/frontend/ytaudio-frontend/

src/frontend/node_modules/
src/frontend/.next/
src/frontend/out/
src/worker/node_modules/

__pycache__/
*.pyc
*.pyo
.env
.env.local

.DS_Store
.wrangler/
src/worker/.wrangler/
